<script>
  function show_from_input(input)
  {
    var span = $("#" + input + "_options");
    var input = $("#inventory_in_movement_" + input);
    
    $('#user_from_id_options').hide();
    $('#warehouse_from_id_options').hide();
    $('#inventory_providor_id_options').hide();
    $('#inventory_in_movement_user_from_id').attr('disabled','disabled');
    $('#inventory_in_movement_warehouse_from_id').attr('disabled','disabled');
    $('#inventory_in_movement_inventory_providor_id').attr('disabled','disabled');
    
    input.removeAttr('disabled');
    span.show();
  }
  
  function update_default_value(part_number_id)
  {
  	$.post('/inventory/ajax_get_part_value',{part_id:part_number_id})
  		.done(function(data){
  			$('#inventory_in_movement_value').val(data);
  		});
  }
</script>
<%= labelled_form_for :inventory_in_movement, @inventory_in_movement,
                             :url => {:action => 'movements', :id => @inventory_in_movement},
                             :html => {:id => 'part-in-form'} do |f| %>
    <%= error_messages_for 'inventory_in_movement' %>
      <p>
        <label><%= l('part_comes_from') %></label>
        <%= select_tag("from_options", options_for_select(@from_options, params[:from_options]), {:onchange => "show_from_input($('#from_options').val());"}) %>
        <br/><span id='user_from_id_options'<%  if params[:from_options] != 'user_from_id' %> style='display:none'<% end %>><%= f.select(:user_from_id, @users, {}, {:disabled => (params[:from_options] == 'user_from_id' ? false:true)}) %></span>
        <span id='warehouse_from_id_options'<%  if params[:from_options] != 'warehouse_from_id' %> style='display:none'<% end %>><%= f.select(:warehouse_from_id, @warehouses, {}, {:disabled => (params[:from_options] == 'warehouse_from_id' ? false:true)}) %></span>
        <span id='inventory_providor_id_options'<%  if params[:from_options] != 'inventory_providor_id' %> style='display:none'<% end %>><%= f.select(:inventory_providor_id, @providors, {}, {:disabled => (params[:from_options] == 'inventory_providor_id' ? false:true)}) %></span>
        <br/><%= f.select(:inventory_part_id, @parts, {}, {:onchange => "update_default_value($('#inventory_in_movement_inventory_part_id').val());"}) %>
        <br/><%= f.text_field :serial_number, :size => 8 %>
        <br/><%= f.text_field :quantity, :size => 4, :required => true %>
        <br/><%= f.select(:document_type, @doc_types) %>
        <br/><%= f.text_field :document, :size => 30 %>
        <br/><%= f.text_field :value, :size => 10 %>
        <br/><%= f.select(:warehouse_to_id, @warehouses, {},{:id => 'in_movement_warehouse_to'}) %>
        <% if params[:edit_in] %><input type='hidden' name='edit_in' value='<%= params[:edit_in] %>'/>
        <% else %><input type='hidden' name='create_in' value='true'/><% end %>
      </p>
      <p>
       <%= submit_tag l(:button_submit) %>
       <% if params[:edit_in] %><input type='button' value='<%= l('Cancel') %>' onclick='location.href="movements"' /><% end %>
      </p>
<% end %>