<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'inventory', :plugin => 'redmine_inventory_manager' %>
<% end %>
<div id='inventory-menu'>
<ul>
  <li ><%= current_link_to l('inventory_stock'), :action=> 'index' %></li>
  <li ><%= current_link_to l('inventory_movements'), :action=> 'movements' %></li>
  <li ><%= current_link_to l('inventory_parts'), :action=> 'parts' %></li>
  <li ><%= current_link_to l('inventory_categories'), :action=> 'categories' %></li>
  <li ><%= current_link_to l('inventory_warehouses'), :action=> 'warehouses' %></li>
  <li ><%= current_link_to l('inventory_providors'), :action=> 'providors' %></li>
  <li ><%= current_link_to l('reports').capitalize, :action=> 'reports' %></li>
</ul>
</div>
