<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'inventory', :plugin => 'redmine_inventory_manager' %>
<% end %>
<div id='inventory-menu'>
<ul>
  <li style='<%= params[:action] == "index" ? 'background-color:#D4E3F7;':'' %>'><%= link_to l('inventory_stock'), :action=> 'index' %></li>
  <li style='<%= params[:action] == "movements" ? 'background-color:#D4E3F7;':'' %>'><%= link_to l('inventory_movements'), :action=> 'movements' %></li>
  <li style='<%= params[:action] == "parts" ? 'background-color:#D4E3F7;':'' %>'><%= link_to l('inventory_parts'), :action=> 'parts' %></li>
  <li style='<%= params[:action] == "categories" ? 'background-color:#D4E3F7;':'' %>'><%= link_to l('inventory_categories'), :action=> 'categories' %></li>
  <li style='<%= params[:action] == "warehouses" ? 'background-color:#D4E3F7;':'' %>'><%= link_to l('inventory_warehouses'), :action=> 'warehouses' %></li>
  <li style='<%= params[:action] == "providors" ? 'background-color:#D4E3F7;':'' %>'><%= link_to l('inventory_providors'), :action=> 'providors' %></li>
  <li style='<%= params[:action] == "reports" ? 'background-color:#D4E3F7;':'' %>'><%= link_to l('reports').capitalize, :action=> 'reports' %></li>
</ul>
</div>