<%= render :partial => 'top_menu' %>
<h2><%= l('inventory_stock') %></h2>
<%= form_tag do %>
  <label><%= l('Warehouse') %></label>
  <%= select_tag(:warehouse, options_for_select(@warehouses,params[:warehouse]),{:onchange=>'submit();'}) %>
  <input type='button' value='<%= l('export').capitalize %> CSV' onclick="location.href='/inventory/inventory_stock_xls?warehouse='+$('#warehouse').val()" />
<% end %>
<table id='inventory_stock' cellspacing='0' cellpadding='4' border='1' style='border: 1px solid black;font-size:10px;border-collapse:collapse;'>
  <tr>
    <th><%= l('field_short_part_number') %></th><th><%= l('field_category') %></th><th><%= l('field_description') %></th>
    <th><%= l('field_value') %></th><th><%= l('inputs') %></th><th><%= l('outputs') %></th><th><%= l('stock') %></th>
    <th><%= l('last_movement') %></th><th><%= l('total') %></th></tr>
   <% 
   total = 0
	 @stock.each do |s| %>
  <tr>
   <td><%= s[0] %><% if s[1] and s[1].length > 0 %> (<%= s[1] %>)<% end %></td>
   <td><%= s[2] %></td>
   <td><%= s[3] %></td>
   <td align='right'><%= number_to_currency(s[4]) %></td>
   <td align='right'><%= s[5] %></td>
   <td align='right'><%= s[6] %></td>
   <td align='right'><b><%= s[7] %></b></td>
   <td><%= s[8] %></td>
   <td align='right'><%= number_to_currency(s[4].to_f*s[7].to_f) %></td>
  </tr>
   <% 
    total += s[4].to_f*s[7].to_f 
   end %>
   <tr>
    <th colspan="8" align="right"><%= l('inventory_value') %></th>
    <th align="right"><%= number_to_currency(total) %></th>
   </tr>
</table>

<% unless Setting.plugin_redmine_inventory_manager["hide_donate_add"] %>
<h3 style='margin-top:40px'>Help to keep this plugin up to date!</h3>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHVwYJKoZIhvcNAQcEoIIHSDCCB0QCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYB+EOd7aHYenoQqSD5TYcAeJswwkMy4MIZe0UOXenz97OI6udhXCz+2r8AXbKmazqVTpC23o3qBpPkjG/WIT72QP7UgVWnCTleY3fVavHIziIVdaJANVHOXpMEgMUjrKDnt/lvUMjOMh5n1hDNR5DPERMGIceGG4vw0KUke1R0NLDELMAkGBSsOAwIaBQAwgdQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIBMO9LXDpixyAgbBE9uC17hciqT9qVY6DG+SfSe0w/wJ4VDS8qphcw4OUlTYTK73QsB/G2B5h/YMca8rOOf6Z34JPzNEI0JH4WXwbSHgKAOcdBBfacVdrh4NvXyyU3hcUM6vlE+bqi/upLVAezFDN0RjF6U4Pk/YtsLtc7RqXANQKanOySc5tAaOw0cHkIer0UJqrY9H4cXi2exayznzWxic0XiQbMljyMBwDK5KWWg6+Nch+Xw6i1xunPKCCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTE0MTIwODIxNDcwOFowIwYJKoZIhvcNAQkEMRYEFGuRuLRv0l0KdQk+N2QzCWaEQoaoMA0GCSqGSIb3DQEBAQUABIGAKQhv17qy6O0/8V0Z8+MJ5HmdRXV3DxbvVPyypwFTfkC06Z67Uo/e4mnJ+nOGMFC3VKCpSNFXAVXorkj+SEphhylqN5GZ4SsTX6m69WORNgN/MZlCtzYw51NXnMkyqEvP4l8TNtZ/zkaD8bVUz4Lwtv1UQHJpHDn1uMVBJdbkw5s=-----END PKCS7-----
">
<input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
</form>
<% end %>