<%= render :partial => 'top_menu' %>
<h2><%= l('inventory_parts') %></h2>
<% if @has_permission %> 
 <div class="box">
    <h3 style='cursor:pointer;' onclick='$("#ip_create_form").toggle();'>
    <% if params[:edit] %><%= l('Edit') %><% else %><%= l('Create') %><% end%> <%= l('Part') %>
    </h3>
    <div id='ip_create_form' <% if not params[:edit] and not params[:create] %>style='display:none;'<% end %>>
      <%= render :partial => 'part_form' %>
    </div>
  </div>
<% end %>

<table style='font-size:10px;border-collapse:collapse;'>
  <tr><th>Id#</th><th><%= l('field_part_number') %></th><th><%= l('field_manufacturer') %></th><th><%= l('field_description') %></th><th><%= l('field_category') %></th><th><%= l('field_value') %></th><th><%= l('field_status') %></th></tr>
  <% @parts.each do |p| %>
  <tr>
    <td><%= p.id %></td><td><%= p.part_number %></td><td><%= p.manufacturer %></td><td><%= p.description %></td>
    <td><%= p.inventory_category.name %></td><td><%= number_to_currency(p.value) %></td>
    <td><%= @statuses_array[p.status] %></td>
  <% if @has_permission %> 
    <td><%= link_to image_tag('edit.png'), 'parts?edit='+p.id.to_s %></td>
    <td><%= link_to image_tag('delete.png'), 'parts?delete='+p.id.to_s, :confirm => l('delete_confirmation') %></td>
  <% end %>
  </tr>
  <% end %>
</table>