<%= render :partial => 'top_menu' %>
<h2><%= l('inventory_providors') %></h2>
<% if @has_permission %>
  <div class="box">
    <h3 style='cursor:pointer;' onclick='$("#ip_create_form").toggle();'>
    <% if params[:edit] %><%= l('Edit') %><% else %><%= l('Create') %><% end%> <%= l('Providor') %>
    </h3>
    <div id='ip_create_form' <% if not params[:edit] and not params[:create] %>style='display:none;'<% end %>>
      <%= render :partial => 'providor_form' %>
    </div>
  </div>
<% end %>

<table style='font-size:10px;border-collapse:collapse;'>
  <tr><th>Id#</th><th><%= l('field_identification') %></th><th><%= l('field_name') %></th><th><%= l('field_address0') %></th><th><%= l('field_phone0') %></th></tr>
  <% @providors.each do |p| %>
  <tr>
    <td><%= p.id %></td><td><%= p.identification %></td><td><%= p.name %></td>
    <td><%= p.address0 %>, <%= p.address1 %>, <%= p.city %></td>
    <td><%= p.phone0 %> - <%= p.phone1 %></td>
  <% if @has_permission %>
    <td><%= link_to image_tag('edit.png'), 'providors?edit='+p.id.to_s %></td>
    <td><%= link_to image_tag('delete.png'), 'providors?delete='+p.id.to_s, :confirm => l('delete_confirmation') %></td>
  <% end %>
  </tr>
  <% end %>
</table>